<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Video Playa</title>
</head>
<body>
    <h1>Welcome to Video Playa!</h1>
    <p>An app to collect your favorite Youtube videos</p>
    <button>
        <a href="/videos">Browse Videos</a>
    </button>
    <button>
        <a href="/videos/new">Add new video!</a>
    </button>
</body>
</html>