<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Video Playa</title>
</head>
<body>
        <h1>Welcome to Video Playa!</h1>
        <img
            class="homePic"
            src="https://i.postimg.cc/XvRrBz7m/media-player.png"
            alt="video play image"
        />
        <p id="descrip">An app to collect your favorite Youtube videos</p>
        <button class="buttonText">
            <a href="/videos">Browse Videos</a>
        </button>
        <button class="buttonText">
            <a href="/videos/new">Add new video!</a>
        </button>
        <footer>Video icons created by Yuju - Flaticon</a></footer>
</body>
</html>