<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Video Library</title>
</head>
<body>
    <h1> My Videos </h1>
    <ul>
        <% videos.forEach((video) => { %>
            <li>
                <a href="/videos/<%=video._id%>">
                    <%=video.title%>
                </a>
            </li>
        <% }) %>
    </ul>
    <button>
        <a href="/videos/new">Add new video!</a>
    </button>
    <button>
        <a href="/">Back to Home</a>
    </button>
</body>
</html>